/*
        Author: Harm Coenen
        E-mail: harm@familiecoenen.nl
*/

body
{
  margin: 0;
  border-style: none;
  padding: 0;
  color: black;
  background-color: #ccccff;
}
  
body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input
{
  font-family: arial, verdana, sans-serif, "Times New Roman", Georgia, Serif, courier, monospace, X-Files;
}

img
{
  margin: 0;
  border: 0px none #ccccff;
  padding: 0;
}

#wrapper
{ 
  margin: 0 auto auto auto;
  width: 1024px;
}

#header
{
  width: 1024px;
  height: 100px;
  margin: 10px 0px 0px 0px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 0px;
  float: left;
}

#menu
{ 
  width: 224px;
  height: 500px;
  padding: 0px;
  float: left;
}

#mainbody
{ 
  width: 800px;
  height: 500px;
  padding: 0px;
  float: right;
  display: inline;
}

#mainbody4picture
{ 
  width: 798px;
  height: 498px;
  padding: 0px;
  float: right;
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  border-color: #ff0000;
}

#footer
{ 
  width: 1024px;
  clear: both;
  border-top-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  padding: 0px;
}

#menu a
{
  color: black;
  display: block;
  text-decoration: none;
  margin: 40px 1px 1px 1px;
  border-right: #444478 5px solid;
  border-left: #7AA1CC 5px solid;
  border-top: #7AA1CC 5px solid;
  border-bottom: #444478 5px solid;
  padding: 4px;
  text-align: center;
}

#menu a:link
{
  color: black;
  background-color: #ccccff;
  text-decoration: none;
}

#menu a:visited
{
  color: black;
  background-color: #ccccff;
  text-decoration: none;
}

#menu a:hover
{
  color: black;
  background-color: #bbbbff;
  text-decoration: none;
}

#menu a:active
{
  color: white;
  text-decoration: none;
  border-right: #7AA1CC 5px solid;
  border-left: #444478 5px solid;
  border-top: #444478 5px solid;
  border-bottom: #7AA1CC 5px solid;
}


a.normal:link
{
  color: black;
  text-decoration: none;
  font-size: 10pt;
}

a.normal:visited
{
  color: blue;
  text-decoration: none;
  font-size: 10pt;
}

a.normal:hover
{
  color: white;
  text-decoration: none;
  font-size: 10pt;
}

a.normal:active
{
  color: red;
  text-decoration: none;
  font-size: 12pt;
}

.circling
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  font-family: Arial,sans-serif;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

img.center {   display: block;   margin-left: auto;   margin-right: auto; }
