/* Colors */
.w3-pale-purple,.w3-hover-pale-purple:hover{color:#000!important;background-color:#ccccff!important}
.w3-text-pale-purple,.w3-hover-text-pale-purple:hover{color:#ccccff!important}
/* Fonts */
.w3-tangerine{font-family:"Tangerine",serif}
/* Animations */
.w3-animate-bottom-custom{position:relative;animation:animatebottom 2.0s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
